body{
	background-color: #000000;
}

#outer_div_left{
	position: relative;
	padding-top:10%;
	width: 50%;
	float:left;
}
#outer_div_right{
	background-color: #7FFF7F;
	float:right;
	font-family: Georgia, Serif;
	height:100vh;
	width: 50%;
	padding-top: 10px;
}

#inner_top_div{
	background-color: #00FF00;
	padding-top: 5px; 
	padding-bottom: 5px;
}

#inner_bottom_div{
	background-color: #CCFFCC; 
	font-weight: bold;
	padding: 10px;
	float:center;
}

#error_msg{
	color: #CD0000;
	font-weight: bold;
}

#success_msg{
	color: #551A8B;
	font-weight: bold;
}

h1{
	font-family:Times New Roman;
}
a {
	color: #009900;
	text-decoration: none;
}
p#success{
	color:#551A8B;
	text-align:center;
}
p#failure{
	color:#CD0000;
	text-align:center;
}
ul#navStl{
	list-style: none;
	align: center;
}

ul#navStl li{
	display: inline;
}


ul#navStl li a{
	text-decoration: none;
	border-right:1px solid #FFFFFF;
	text-align: center;
	padding: 5px;
	width: 30%;
	background: #324133;
	color: #FFFFFF;
	float:left;
}
ul#navStl li a:hover{
	background: #FFFFFF;
	color: #324133;
}
input#clicked{
	width:30px;
	height:30px;
	position: absolute;
	float:right;
	border-radius:50%;
	font-size: 25px;
	font-weight: bold;
	line-height: 20%;
}
input[type=submit]{
	border-width: 1px;
	width: 40%;
	background: #ffffff;
	margin: 5px;
	padding: 10px;
	font-weight: bold;
}
input[type=reset]{
	border-width: 1px;
	width: 40%;
	background: #ffffff;
	margin: 5px;
	padding: 10px;
	font-weight: bold;
}

input[type=text]{
	border-width:0px;
	width: 80%;
	height: 30px;
	padding-bottom: 5px;
	margin: 5px;
	text-align: center;
	
}
input[type=password]{
	border-width:0px;
	width: 80%;
	height: 30px;
	padding-bottom: 5px;
	margin: 5px;
	text-align: center;
}
input{
	font-size: 15px;
}
input:hover{
	background: #00FF00;
}